<div class="container-fliud main-content">
  <div class="row">
    <section class="col-md-12">
      <div class="mt-3 mb-3">
        <h3>Product List</h3>
      </div>
      <table class="table">
        <thead class="thead-light t-head">
          <tr>
            <th scope="col">Product Id</th>
            <th scope="col">Product Name</th>
            <th scope="col">Product Genres</th>
            <th scope="col">Available Platforms</th>
            <th scope="col">Available Count</th>
            <th scope="col">Price</th>
            <th scope="col">Availability</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td scope="row">1</td>
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.genre}}</td>
            <td [ngClass]="isLowInventory ? 'bg-danger' : ''">{{product.available}}</td>
            <td>
              <p *ngIf="product.available <= 10">Lower Inventory</p>
              <p *ngIf="product.available > 10">Sufficient Inventory</p>
            </td>
            <td>{{product.price}}</td>
            <td>
              <i class="fa fa-eye icon"></i>
              <i class="fa fa-pencil-square-o icon"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
</div>


